!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}rohben: our blog
    %meta(name="description" content="A blog of discoveries made while growing rohben")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %img.logo{src: "/logo.png", alt: "rohben"}
          .tagline
            A blog of discoveries made while growing a company
      = content

      #footer
        %p &copy; 2012 rohben under the MIT license.
        %p Content and articles are copyrighted to the individual authors
          . All code snippets used in the examples are in the public domain.
        %p
          Powered by
          %a{href: "http://github.com/creationix/wheat"}
             wheat
           running on node #{process.version}
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
